<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form" [formGroup]="formContact">
        <input 
        type="text" 
        placeholder="Digite seu nome"
        formControlName="nome"
        [class.valid] = "formContact.controls['nome'].valid"
        [class.invalid] = "formContact.controls['nome'].invalid && 
        (formContact.controls['nome'].touched ||  
        formContact.controls['nome'].dirty)">
        <div *ngIf="formContact.controls['nome'].invalid && 
        (formContact.controls['nome'].touched ||  
        formContact.controls['nome'].dirty)">

    <small class="error-message" *ngIf="formContact.controls['nome'].hasError('minlength')">
        Esse campo precisa de no monimo 6 caracteres
    </small>
    <small class="error-message" *ngIf="formContact.controls['nome'].hasError('required')">
        Esse campo precisa seja ser preenchido
    </small>

        </div>
        <input type="assunto" placeholder="Digite o assunto"  formControlName="assunto"
        [class.valid] = "formContact.controls['assunto'].valid"
        [class.invalid] = "formContact.controls['assunto'].invalid && 
        (formContact.controls['assunto'].touched ||  
        formContact.controls['assunto'].dirty)">
        <div *ngIf="formContact.controls['assunto'].invalid && 
        (formContact.controls['assunto'].touched ||  
        formContact.controls['assunto'].dirty)">

    <small class="error-message" *ngIf="formContact.controls['assunto'].hasError('minlength')">
        Esse campo precisa de no monimo 6 caracteres
    </small>
    <small class="error-message" *ngIf="formContact.controls['assunto'].hasError('required')">
        Esse campo precisa seja ser preenchido
    </small>

        </div>
        <input type="text"   mask="(00) 0 0000-0000" placeholder="(00) 0 0000-0000"  formControlName="telefone"
        [class.valid] = "formContact.controls['telefone'].valid"
        [class.invalid] = "formContact.controls['telefone'].invalid && 
        (formContact.controls['telefone'].touched ||  
        formContact.controls['telefone'].dirty)">
        <div *ngIf="formContact.controls['telefone'].invalid && 
        (formContact.controls['telefone'].touched ||  
        formContact.controls['telefone'].dirty)">

    <small class="error-message" *ngIf="formContact.controls['telefone'].hasError('minlength')">
        Esse campo precisa de no monimo 6 caracteres
    </small>
    <small class="error-message" *ngIf="formContact.controls['telefone'].hasError('required')">
        Esse campo precisa seja ser preenchido
    </small>

        </div>
        <input type="email" placeholder="Digite o seu e-mail"  formControlName="email"
        [class.valid] = "formContact.controls['email'].valid"
        [class.invalid] = "formContact.controls['email'].invalid && 
        (formContact.controls['email'].touched ||  
        formContact.controls['email'].dirty)">
        <div *ngIf="formContact.controls['email'].invalid && 
        (formContact.controls['email'].touched ||  
        formContact.controls['email'].dirty)">

    <small class="error-message" *ngIf="formContact.controls['email'].hasError('email')">
        Esse campo precisa ser um e-mail com formato válido 
    </small>
    <small class="error-message" *ngIf="formContact.controls['email'].hasError('required')">
        Esse campo precisa seja ser preenchido
    </small>

        </div>
        <textarea maxlength="300"  formControlName="mensagem"
        [class.valid] = "formContact.controls['mensagem'].valid"
        [class.invalid] = "formContact.controls['mensagem'].invalid && 
        (formContact.controls['mensagem'].touched ||  
        formContact.controls['mensagem'].dirty)"></textarea>
        <div *ngIf="formContact.controls['mensagem'].invalid && 
        (formContact.controls['mensagem'].touched ||  
        formContact.controls['mensagem'].dirty)">

    <small class="error-message" *ngIf="formContact.controls['mensagem'].hasError('minlength')">
        Esse campo precisa de no monimo 20 caracteres
    </small>
    <small class="error-message" *ngIf="formContact.controls['mensagem'].hasError('required')">
        Esse campo precisa seja ser preenchido
    </small>

        </div>
        <button [disabled]="formContact.invalid" (click)="sendForm()">Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15733.370807411902!2d-35.7069125!3d-9.6517305!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x70145ba70a375a7%3A0x8890ca05cdbc3336!2sThe%20Square%20Park%20Office!5e0!3m2!1spt-PT!2sbr!4v1676732223822!5m2!1spt-PT!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Av. Dr. Antônio Gomes de Barros, 625 - Jatiúca, Maceió - AL, 57036-001</p>
    </address>
</section>
