<section class="product__container">
    <div class="product-image__container">
        <img [src]="product?.imagem" alt="">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">{{ product?.descricao }}</h2>
        <h3 class="product_price">{{ product?.preco | currency: "BRL" }}</h3>
        <p>Estoque disponível</p>
        <label>
            Quanditade:
            <input type="number" [(ngModel)]="quantity" min="1">
            unudade(s)
        </label>
        <p class="product__avaiability">
            {{ product?.quantidadeEstoque}} unidade(s) em estoque
        </p>
        <button (click)="addToCart()">Adicionar ao carrinho</button>

    </div>
</section>
